* {
    font-style: normal;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'chronicle-display-black';
    src: url("https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/chronicle-display-black.otf") format("opentype");
}
@font-face {
    font-family: 'GuardianEgyp-Regular';
    src: url('../fonts/GuardianEgyp-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GuardianEgyp-Medium';
    src: url('../fonts/GuardianEgyp-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'GuardianEgyp-Semibold';
    src: url('../fonts/GuardianEgyp-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'GuardianEgyp-Bold';
    src: url('../fonts/GuardianEgyp-Bold.otf') format('opentype');
}

@font-face {
    font-family: FontAwesome;
    src: url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/fontawesome-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: roboto-regular;
    src: url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/Roboto-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: roboto-bold;
    src: url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/Roboto-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/icomoon.eot?k0g6bz');
    src:  url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/icomoon.eot?k0g6bz#iefix') format('embedded-opentype'),
      url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/icomoon.ttf?k0g6bz') format('truetype'),
      url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/icomoon.woff?k0g6bz') format('woff'),
      url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/fonts/icomoon.svg?k0g6bz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-comercio:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
html, body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    position: relative;
    font-family: 'GuardianEgyp-Medium';
}
a:hover{
    text-decoration: none;
}
h1, h2, h3{
    font-weight: normal;
}

ul, ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 99;
}
header{
    position: fixed;
    height: 46px;
    width: 100%;
    background: #000;
    top: 0;
    z-index: 99;
    display: table;
}
.header-comercio {
    background: #000;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.ctn-header-comercio {
    margin: 0 auto;
    max-width: 990px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding: 6px 10px;
}
.ctn-header-comercio a {
    display: inline-block;
    color: #FFF;
}
a.logo-comercio{
    background: url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/img/logo-comercio.png') no-repeat 0 0;
    background-size: 100%;
    height: 19px;
    margin: 3px;
    width: 110px;
}
a.logo-especiales {
    background: url('https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/elementos-comunes/img/logo-especiales.png') no-repeat 0 3px;
    background-size: 85%;
    height: 22px;
    width: 100px;
}
.ctn-header-comercio .logo-comercio i {
    font-size: 18px;
}

.header-barra-2 {
    height: 20px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    width: 1px;
}
.boton-especiales {
    text-decoration: none;
    position: absolute;
    display: inline-block;
    text-indent: 0 !important;
    margin: 0 0 0 9px;
    color: #fff;
    font: 700 13px/13px Arial;
    padding-top: 4px;
}
.cruz {
    display: inline-block;
    width: 12px;
    position: relative;
    height: 12px;
    top: 1px;
}
.cruz:before, .cruz:after {
    content: "";
    position: absolute;
    z-index: 1;
    background: #ffca00;
}
.cruz:before {
    left: 50%;
    width: 2px;
    margin-left: -1px;
    height: 100%;
}
.cruz:after {
    top: 50%;
    height: 2px;
    margin-top: -1px;
    width: 100%;
}
#social {
    float: right;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    display: table;
    height: 100%;
}
#social ul {
    vertical-align: middle;
    display: table-cell;
}
#social ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}
#social ul li a i {
    font-size: 18px;
}


.container {
    /*width: 100%;*/
    position: relative !important;
    height: inherit !important;
    max-width: 990px !important;
    left: inherit !important;
    transform: inherit !important;
    overflow: inherit !important;
    margin: 0 auto !important;
}
.content {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.pd-header{
    padding-top: 46px;
}
/*********************************/
.container h1, .cont-escena2 h2{
    font-size: 26px;
    text-align: center;
    line-height:28px;
    font-family:  'GuardianEgyp-Bold';
}
.cont-escena2{
    position: relative;
}
.cont-escena2 h2{
    width:calc(100% - 100px);
    margin: 0 auto;
}
.content h3{
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    color: #9B9B9B;
    margin-top:30px;
    margin-bottom:10px;
}
.logo-tudecides{
    width: 252px;
    padding: 20px 0;
    display: block;
    margin: 0 auto; 
}
.box-select{
    position: relative;
    max-width:350px;
    width: calc(100% - 40px);
    display: block;
    margin:  0 auto;
}
.box-select .box{
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    display: table;
    width: 100%;
    height: 49px;
    position: relative;
    cursor: pointer;
}
.box-select .box-options{
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    display: table;
    width: 100%;
}
.box-select .box-options li{
    width: 100%;
    display: table;
}
.box-select .box h2{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    font-family: 'GuardianEgyp-Regular';
    font-size: 18px;
    line-height:1;
    padding-right: 20px;
}
.box-select .box i{
    position: absolute;
    right: 20px;
    top: 20px
}
i.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #848484; 
}
.box-select .box-options li span{
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
.box-select .box-options li:hover{
    cursor: pointer;
    background-color: #F1F1F1;
}
.box-select .box-options li.selected{
    background-color: #F1F1F1;
    pointer-events: none;
}
.box-select .box-options li{
    display: table;
    height:49px;
}
.cont-partidos ul{
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}
.cont-partidos li {
    display: inline-block;
    margin: 0 10px;
}
.cont-partidos li:first-child{
    margin-left: 0px;
}
.cont-partidos li:last-child{
    margin-right: 0px;
}
.cont-partidos li a{
    display: table;
    width: 56px;
    height: 56px;
    -webkit-box-shadow: 0px 9px 20px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 9px 20px -2px rgba(0,0,0,0.23);
    box-shadow: 0px 9px 20px -2px rgba(0,0,0,0.23);
    overflow: hidden;
    border-radius:50%;
    text-align:center;
    position: relative;
}
.cont-partidos img{
    height: 26px;
    position: absolute;
    margin-top: -13px;
    top: 50%;
    margin-left: -13px;
    left: 50%; 
}
.button-dark{
    color: #fff;
    background-color: #000;
    font-family:  'GuardianEgyp-Bold';
    font-size: 22px;
    display: table;
    padding: 10px 20px;
    margin: 50px auto 30px auto;
}
.button-dark.inactive{
    opacity: 0.5;
    pointer-events: none;
}
.cont-candidatos {
    margin: 40px auto 0 auto;
    display: table;
}
.cont-candidatos .candidato{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 144px;
}
.candidato .photo{
    background-color: #D3D3D3;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-image: url(../img/bg-voto.svg);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
}
.candidato .photo img{
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.candidato h2{
    font-size: 19px;
    font-family: 'GuardianEgyp-Semibold';
    text-align: center;
}
.candidato h4{
    font-size: 13px;
    font-family: 'GuardianEgyp-Regular';
    text-align: center;
}
.candidato.selected .cerrar{ 
    width: 24px;
    height: 24px;
    background-color: #9F0111;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    cursor: pointer;
    z-index: 1;
}
.candidato.selected .cerrar::before{
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 11px;
    background-color: #fff;
}
.candidato.selected .cerrar::after{
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 11px;
    background-color: #fff;
}
.partido.selected{
    pointer-events: none;
    border: 2px solid #9F0111;
    border-radius: 50%; 
}
.partido.none{
    pointer-events: none;
}
.cont-candidatos .candidato:first-child{
    margin-right: 10px;
}
.cont-candidatos .candidato:last-child{
    margin-left: 10px;
}
/*********************************/
.cont-escena2{
    padding: 0 10px;
}
.cont-escena2 .foto-candidato{
    width: 37px;
    height: 37px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.cont-escena2 .cont-propuesta{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cont-escena2 .foto-candidato img{
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}
.cont-escena2 .candidato-perfil{
    background-color: #F0F0F0;
    color:#171717;
    display: table;
    width: 100%;
}
.cont-escena2 .candidato-perfil ul li{
    display: inline-block;
    vertical-align: middle;
}
.cont-escena2 .candidato-perfil span{
    font-size: 13px;
    line-height:15px;
    color: #171717;
    font-family: 'GuardianEgyp-Regular';
}
.cont-escena2 .candidato-perfil ul:first-child{
    float: left;
    padding-left: 10px;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.cont-escena2 .candidato-perfil ul:last-child{
    float: right;
    padding-right: 10px;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.cont-escena2 .candidato-perfil ul:first-child h4{
    font-family: 'GuardianEgyp-Medium';
    font-size: 16px;
}
.cont-escena2 .candidato-perfil ul:last-child span{
    width:55px;
}
.cont-text-propuesta{
    padding: 20px;
    font-size: 18px;
    line-height: 28px;
    font-family: 'GuardianEgyp-Regular';
    border: 1px solid #707070;
}
.cont-escena2 .cerrar{
    width:24px;
    height:24px;
    position: absolute;
    right: 20px;
    top: 2px;
    cursor: pointer;
}
.cont-escena2 .cerrar:before{
    content: '';
    width: 28px;
    height:2px;
    background-color: #000;
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    left: -2px;
}.cont-escena2 .cerrar:after{
    content: '';
    width: 28px;
    height:2px;
    background-color: #000;
    position: absolute;
    transform: rotate(-45deg);
    top: 11px;
    left: -2px;

}
/*********************************/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
/*********************************/

@media screen and (max-width: 640px){
  
    #myBtn{
        bottom: 63px;
    }
    .cont-partidos li{
        margin: 0 5px;
    }
    .cont-candidatos .candidato:first-child{
        margin-right: 5px;
    }
    .cont-candidatos .candidato:last-child{
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .cont-partidos li{
        margin: 0 2px;
    }
    .cont-escena2 .candidato-perfil ul:last-child{
        float: left;
        padding-left: 20px;
    }
  }

@media (max-width: 360px) {
    .cont-partidos li{
        margin: 0 2px;
    }
  }